#canvas {display: none;}
#upload-area {float: left; width: 225px; margin-left: 20px;}
#files-area {float: left; width: 630px; margin-left: 20px;}
#uploadify {margin: 0 auto;}
#browse-btn {margin-right: 5px; float: left;}
#upload-queue {max-height: 350px; margin: 10px 0 0 5px; overflow: auto;}
#uploaded-files {max-height: 360px; overflow: auto; padding: 10px;}

.overlay {position: fixed; background: #EAF4FF; border: 2px solid #0C9BAB; width: 630px; padding: 15px; position: absolute; -moz-border-radius: 5px; -webkit-border-radius: 5px; display: none;}
.file-edit {background: #efefef; padding: 10px; border: 1px solid #aaa; margin-bottom: 15px;}
.file-edit td {padding: 3px;}
.file-edit textarea {height:113px; margin-top:5px; width: 200px;}
.file-edit select {width: 100%;}
.cover {margin: -8px 15px; width: 90px; height: 90px;}


#file-list {padding: 10px 5px; font-size: 14px; max-height: 400px; overflow: auto;}
#file-list td {border-bottom:1px solid #888888; padding:4px; vertical-align:top;}
#file-list th {padding: 5px 7px 10px;}
#file-list input, #file-list textarea, #file-list select {font-size: 12px;}

.img-upload img {width: 60px;}
.desc-w {min-width: 200px;}